@model Application.ProcessingService

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Processing Management</h2>
<h4>Current Time is @Model.GetCurrentDate()</h4>
<p><a class="btn btn-primary btn-large" href="@Url.Action("MoveNextDay")">Close banking day</a></p>
<p><a class="btn btn-primary btn-large" href="@Url.Action("MoveNextWeek")">Process one week</a></p>