@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your application is taken into consideration</h2>
<h4>Bank consultant will call you after.</h4>

<a class="btn btn-primary" href="@Url.Action("Index", "Home")">Return to Home</a>
@if (User.IsInRole("Customer"))
{
    <a class="btn btn-primary" href="@Url.Action("Index", "Customer")">Personal area</a>
}

