@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PROebank<br />
    Minsk, Belarus<br />
    <abbr title="Phone">P:</abbr>
    776.322.6500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@proebank.com">Support@proebank.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@proebank.com">Marketing@proebank.com</a>
</address>