@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PROebank</h1>
    <p class="lead">We will not let you down!</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Deposits</h2>
        <p>Under construction</p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Deposit_(finance)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Loans</h2>
        <p>
            If you need some money, you are in the right place!
        </p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Currency exchange</h2>
        <p>Best exchange rates!</p>
        <p><a class="btn btn-default" href="http://www.nbrb.by/engl/statistics/rates/ratesDaily.asp">Learn more &raquo;</a></p>
    </div>
</div>