@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="bankName" onclick="generateName();">PROebank</h1>
    <p class="lead">We will not let you down!</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tariffs</h2>
        <p>proTariffs for you!</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Tariffs")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New application</h2>
        <p>Here you can apply for loan</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "LoanApplication")">Apply &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Loans</h2>
        <p>
            View your loans information
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Loan")">View &raquo;</a></p>
    </div>
</div>

<script>
    function generateName (e) {
        $('#bankName').on('click', function (e) {
            var pre = [
                'PRO',
                'ZA',
                'VY',
                'PERE',
                'OB',
                'OT',
                'U',
                'POD'
            ];
            var bankName = pre[Math.floor(Math.random() * pre.length)]+'ebank';
            $('#bankName').text(bankName);
        });
    }

</script>