<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="CommonServiceLocator.UnityAdapter" version="1.0.0.41670" targetFramework="net45" />
  <package id="Glimpse" version="1.8.1" targetFramework="net45" />
  <package id="Glimpse.Ado" version="1.7.0" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.7.0" targetFramework="net45" />
  <package id="Glimpse.EF6" version="1.6.0" targetFramework="net45" />
  <package id="Glimpse.Mvc5" version="1.5.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net45" />
  <package id="Unity.Mvc" version="3.0.1304.0" targetFramework="net45" />
  <package id="Unity.Mvc5" version="1.1" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.4" targetFramework="net45" />
</packages>