@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <div>
    <h2>Sorry, but there is no page you requested on server</h2>
    </div>
</body>
</html>
