@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Server Error</title>
</head>
<body>
    <div>
        <h2>Your request caused internal server error</h2>
        <h4>Try press "Back" in your browser and continue your work</h4>
    </div>
</body>
</html>
