@model IEnumerable<Domain.Models.Loans.LoanApplication>

@{
    ViewBag.Title = "New applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultant page</h2>

<p>
    @Html.ActionLink("Apply for a new loan", "Create")
</p>

@Html.Partial("_LoanApplicationsPartial", Model)
