<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IAccount" type="CrossCutting.Interfaces.IAccount, CrossCutting" />
    <alias alias="Account" type="Application.Tests.TmpEntities.Account, Application.Tests" />
    <alias alias="IAccountRepository" type="RepositoriesContracts.IAccountRepository, RepositoriesContracts" />
    <alias alias="AccountRepository" type="Application.Tests.FakeRepositories.AccountRepository, Application.Tests" />
    <container>
      <register type="IAccountRepository" mapTo="AccountRepository" />
      <register type="IAccount" mapTo="Account" />
    </container>
  </unity>
</configuration>