<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IAccountRepository" type="Domain.Models.Accounts.IAccountRepository, Domain" />
    <alias alias="ILoanRepository" type="Domain.Models.Loans.ILoanRepository, Domain" />
    <alias alias="ILoanApplicationRepository" type="Domain.Models.Loans.ILoanApplicationRepository, Domain" />
    <alias alias="ITariffRepository" type="Domain.Models.Loans.ITariffRepository, Domain" />
    
    <alias alias="AccountRepository" type="Infrastructure.Repositories.AccountRepository, Infrastructure" />
    <alias alias="LoanRepository" type="Infrastructure.Repositories.LoanRepository, Infrastructure" />
    <alias alias="LoanApplicationRepository" type="Infrastructure.Repositories.LoanApplicationRepository, Infrastructure" />
    <alias alias="TariffRepository" type="Infrastructure.Repositories.TariffRepository, Infrastructure" />
    
    <alias alias="FakeAccountRepository" type="Infrastructure.FakeRepositories.AccountRepository, Infrastructure" />
    <alias alias="FakeLoanRepository" type="Infrastructure.FakeRepositories.LoanRepository, Infrastructure" />
    <alias alias="FakeLoanApplicationRepository" type="Infrastructure.FakeRepositories.LoanApplicationRepository, Infrastructure" />
    <alias alias="FakeTariffRepository" type="Infrastructure.FakeRepositories.TariffRepository, Infrastructure" />
    <container>
      <register type="IAccountRepository" mapTo="FakeAccountRepository" />
      <register type="ILoanRepository" mapTo="FakeLoanRepository" />
      <register type="ILoanApplicationRepository" mapTo="FakeLoanApplicationRepository" />
      <register type="ITariffRepository" mapTo="FakeTariffRepository" />
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>