@model IList<Domain.Models.AccountModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bank account list:</h2>
<div>
    @foreach (var acc in Model)
    {
        <p>
            <span>@acc.Id</span>
            <span>@acc.Number</span>
            <span>@acc.Entries.Count</span>
            <span>@acc.CreationDate</span>
        </p>
    }
</div>


