@model IList<Domain.Models.Accounts.Account>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bank accounts list:</h2>
<div>
    @foreach (var acc in Model)
    {
        <p>
            <span>@acc.Id</span>
            <span>@acc.Type</span>
            <span>@acc.DateOpened</span>
            <span>@acc.NumberText</span>
        </p>
    }
</div>


