@model Domain.Models.Loans.Loan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    @if (Model != null)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IsClosed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsClosed)
            </dd>
            @*add account info, payment schedule, link to application details (or place details here?) and so on*@
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
